
{%extends './base.html'%}
{%load static%}

{%block title%}Meu Perfil{%endblock%}

{%block content%}

        <div class="profile-info">
            <img class="profile-pic" src="{% static 'img/avatar_ong.png' %}" title="foto-perfil">
            <h1>{{user.name}}</h1>
            <h2>{{user.city}}, {{user.state}} - {{user.cep}}</h2>
            <h3>APADRINHADOS</h3>
            <img class="apadrinhados" src="{% static 'img/apadrinhados.png' %}" title="apadrinhados">
        </div>

        <div class="container">

        {%if animais.count == 0 %}

        <div class="box">
                <h1>Nenhum animal foi apadrinhado</h1>
        </div>

        {%else%}
        
            {%for animal in animais%}
            <div class="box">
                <img class="profile-pic" src="{% static '/img/' %}{{animal.classe}}.png" title="animal">
                <div class="info">
                    <h1>{{animal.nome}}</h1>
                    <h2>{{animal.ong.name}}</h2> 
                    <h3>{{animal.desc}}</h3>
                    <h4 style="font-size: 0.6em;"><a target="blank" title="Clique para ver o perfil do padrinho" href="../padrinho/{{animal.padrinho.id}}">Padrinho: {{animal.padrinho.name}}</a></h4>
                </div>
            </div>
            {%endfor%}
        </div> 
        {%endif%}
{%endblock%}